<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>computer-database</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ListeComputer</servlet-name>
    <servlet-class>com.excilys.servlets.ListeComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeComputer</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeCompany</servlet-name>
    <servlet-class>com.excilys.servlets.ListeCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeCompany</servlet-name>
    <url-pattern>/ListeCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterComputer</servlet-name>
    <servlet-class>com.excilys.servlets.AjouterComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterComputer</servlet-name>
    <url-pattern>/AjouterComputer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FilterByName</servlet-name>
    <servlet-class>com.excilys.servlets.FilterByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterByName</servlet-name>
    <url-pattern>/FilterByName</url-pattern>
  </servlet-mapping>
</web-app>