<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>computer-database</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  
<context-param>
   <param-name>contextConfigLocation</param-name>
   <param-value>/WEB-INF/applicationContext.xml</param-value>
 </context-param>   
 <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
  
  <servlet>
    <servlet-name>ListeComputer</servlet-name>
     <servlet-class> com.excilys.servlets.ListeComputer </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeComputer</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComputer</servlet-name>
    <servlet-class>com.excilys.servlets.AddComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComputer</servlet-name>
    <url-pattern>/AddComputer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateComputer</servlet-name>
    <servlet-class>com.excilys.servlets.UpdateComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComputer</servlet-name>
    <url-pattern>/UpdateComputer</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DeleteComputer</servlet-name>
    <servlet-class>com.excilys.servlets.DeleteComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComputer</servlet-name>
    <url-pattern>/DeleteComputer</url-pattern>
  </servlet-mapping>
  
  <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error.jsp</location>
 </error-page>
</web-app>


